<nav class="navbar navbar-light justify-content-between fixed-top">
    <a class="navbar-brand p-2">Admin Dashboard Page</a>
    <form class="form-inline p-2">
        <button class="btn btn-outline-dark my-2 my-sm-0" style="color:black;" type="submit"><a href="/admin/logout" class="text-decoration-none">Logout</a></button>
    </form>
</nav>