div.outter
    div(class="heading p-2 font-weight-bold") 
        i(class="fas fa-bars fa-2x" id="btn" onclick="fun()")
    div.menu.text-center
        ul.home
            li
                <a class="a" href="/admin/subject">
                    <span>Subject</span>
                </a>
            li
                <a class="a" href="/admin/sub_table">
                <span>Subject Table</span>
                </a>
            li
                <a class="a" href="/admin/level">
                <span>Level</span>
                </a>
            li
                <a class="a" href="/admin/level_table">
                <span>Level Table<span>
                </a>
            li
                <a class="a" href="/admin/question">
                <span>Question<span>
                </a>
            li
                <a class="a" href="/admin/que_table">
                <span>Question Table<span>
                </a>
            li
                <a class="a" href="/admin/reg_list">
                <span>Registered Member List<span>
                </a>


                