<footer class="row bg-light p-2 text-dark bg-light text-justify text-md-justify" style="font-family: 'Roboto Slab', serif; color: #dbdad7;">
    <div class="col-md-4 mt-md-4 mt-4">
        <img src="../../image/footer/f1.jpg" class="img-logo1" style="width: 20em;">
    </div>
    <hr class="clearfix w-100 d-md-none pb-3">  
    <div class="col-md-4 mb-md-0 mb-3 p3">
        <h3 class="text">Links</h3>
        <ul class="list-unstyled footer-menu" style="font-size: 16px;">
            <li>
                <a href="/" style="color: black;"><i class="fas fa-angle-right"></i>&nbsp;Home</a>
            </li>
            <li>
                <a href="/blog"style="color: black;"><i class="fas fa-angle-right"></i>&nbsp;Blog</a>
            </li>
            <li>
                <a href="/contact" style="color: black;"><i class="fas fa-angle-right"></i>&nbsp;Contact</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 mb-md-0 mb-3 p1">
        <div class="footer-right p2">
            <h3 class="text">Address</h3>
        <div>
        <i class="fas fa-map-marker-alt"></i>
        <p style="font-size: 15px;"><span>Basni phase 2,</span>Jodhpur, Raj. 342 001, India</p>
    </div>
    <div>
        <i class="fas fa-phone"></i>&nbsp;
        <p style="font-size: 15px;"><a href="" class="text-dark"> +91 9587007865</a></p>
    </div> 
    <div>
        <i class="fas fa-envelope"></i>&nbsp;
        <a class="text-warning" style="font-size: 13px;" href="Info@ADWoods.com">Info@ADWoods.com</a>
    </div>
    <div>  
        <i class="fas fa-globe"></i>&nbsp;
        <a class="text-warning" style="font-size: 13px;" href="http://www.ADWoods.com/">www.ADWoods.com</a>
    </div>
    <div class="footer-icons bg-peace">
        <p>Follow Us</p>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-tumblr-square"></i></a>
    </div>
    <div class="footer-copyright col-sm-12  text-center p-3" style="font-family: 'Roboto Slab', serif;">
        <p class="text-center "> &copy; 2020 Copyright:<a href="#"> ADWoods.com</a></p>
    </div>
</footer>
    
