extends layout_user.pug

block content
    include navbar_home.pug
    div.head
        h1.text-center.fw-bold.display-3 Instruction Page
        div.container
            div.row
                h5.b.text-center Please read the instructions carefully
                h6.b.i General Information:
                p 1. The clock will be set at the server. The countdown timer at the top right corner of screen will display the remaining time available for you to complete the examination. When the timer reaches zero, the examination will end by itself. You need not terminate the examination or submit your paper.
                p 2. The Question Palette displayed on the right side of screen will show the status of each question using one of the following symbols:
                p
                    img(src="../image/user/rect.png", alt="" class="img" width="40") 
                    span &nbsp; You have not visited the question yet.
                p 
                    img(src="../image/user/red.png", alt="" class="img" width="40" height="35")
                    span &nbsp; You have not answered the question.
                p 
                    img(src="../image/user/green.png", alt="" class="img" width="40" height="35")
                    span &nbsp; You have answered the question.
                p
                    img(src="../image/user/circle.png", alt="" class="img" width="40")
                    span &nbsp; You have NOT answered the question, but have marked the question for review.
                p
                    img(src="../image/user/circle_check.png", alt="" class="img" width="40")
                    span &nbsp; You have answered the question, but marked it for review.
                p The Mark For Review status for a question simply indicates that you would like to look at that question again. If a question is answered, but marked for review, then the answer will be considered for evaluation unless the status is modified by the candidate.
                h5 Navigating to a Question :
                p 3. To answer a question, do the following:
                    p 1. Click on the question number in the Question Palette at the right of your screen to go to that numbered question directly. Note that using this option does NOT save your answer to the current question.
                    p 2. Click on Save & Next to save your answer for the current question and then go to the next question.
                    p 3. Click on Mark for Review & Next to save your answer for the current question and also mark it for review , and then go to the next question.
                p Note that your answer for the current question will not be saved, if you navigate to another question directly by clicking on a question number without saving the answer to the previous question.
                p You can view all the questions by clicking on the Question Paper button. This feature is provided, so that if you want you can just see the entire question paper at a glance.
                h5 Answering a Question :
                p 4.Procedure for answering a multiple choice (MCQ) type question:
                p 1. Choose one answer from the 4 options (A,B,C,D) given below the question, click on the bubble placed before the chosen option.
                p 2. To deselect your chosen answer, click on the bubble of the chosen option again or click on the Clear Response button
                p 3.To change your chosen answer, click on the bubble of another option.
                p 4. To save your answer, you MUST click on the Save & Next
                
                p 5.Procedure for answering a numerical answer type question : 
                    p 1. To enter a number as your answer, use the virtual numerical keypad.
                    p 2. A fraction (e.g. -0.3 or -.3) can be entered as an answer with or without "O" before the decimal point. As many as four decimal points, e.g. 12.5435 or 0.003 or -932.6711 or 12.82 can be entered.
                    p 3. To clear your answer, click on the Clear Response button
                    p 4. To save your answer, you MUST click on the Save & Next
                    p 5. To mark a question for review, click on the Mark for Review & Next button. If an answer is selected (for MCQ/MCAQ) dOnumerical answer type) for a question that is Marked for Review, that answer will be considered in the evaluation unless the status is modified by the candidate.
                    p 6.To change your answer to a question that has already been answered, first select that question for answering and then follow the procedure for answering that type of question.
                    p 7.Note that ONLY Questions for which answers are saved or marked for review after answering will be considered for evaluation.
                    p 8.Sections in this question paper are displayed on the top bar of the screen. Questions in a Section can be viewed by clicking on the name of that Section. The Section you are currently viewing will be highlighted.
                    p 9.After clicking the Save & Next button for the last question in a Section, you will automatically be taken to the first question of the next Section in sequence.
                    p 10.You can move the mouse cursor over the name of a Section to view the answering status for that Section.
                p Choose your default language :- 
                p Please note all questions will appear in default language. This langauge can be changed for a particular question later on
                p
                    span Declaration
                    p
                        span 
                            input(type="checkbox" id="checkbox" onclick="checkBox()")
                        span  &nbsp; I have read all the instructions carefully and have understood them. I agree not to cheat or use unfair means in this examination. I understand that using unfair means of any sort for my own or someone else's advantage will lead to my immediate disqualification. The decision of Testbook.com will be final in these matters and cannot be appealed.
            p   
                button(class="ready btn border border-info" id="ready") 
                    a(href="/examstart" class="text-decoration-none") I am ready to begin
          
    script.
        window.addEventListener('load',function(){
            $("#ready").attr('disabled','disabled');
        });
        function checkBox(){
            var checkBox = document.getElementById("checkbox");
            if(checkBox.checked == true){
                $("#ready").removeAttr('disabled','enabled');
            }
            else 
            {
                $("#ready").attr('disabled','disabled');
            }
        }