<nav class="navbar justify-content-between">
    <a class="navbar-brand p-2">Coding_Exam</a>
    <form class="form-inline p-2">
        <button class="btn btn_login btn-outline-dark" type="submit"><a href="/user_login">Newuser / Login</a></button>
    </form>
</nav>


    