<nav class="navbar justify-content-between fixed-top">
    <a class="navbar-brand p-2">Coding_Exam_Home_Page</a>
    <form class="form-inline p-2">
        <button class="btn btn-outline-dark" type="submit"><a href="/logout">Logout</a></button>
    </form>
</nav>

